/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-family: inter!important;
    margin: 0;
    padding: 30px;
    background: #dee2e6!important;
  }
  
  html, body {
    height: 100%;
  }
  